@charset "UTF-8";

/*midias para modelos estilos s20 ultra*/
@media screen and (max-width: 767px) {
    header > div.container div.navegacao{
        display: none;
    }
    header > div.container  div#navegacao-mobile{
        display: none;
    }

        /*buttão mobile*/

        button#btn-menu {
            width: 100px;
            border-radius: 10px;
            border: none;
            background: transparent;
            
            cursor: pointer;
        } 
    
        button#btn-menu .linha1{
            margin-left: 55px;
            width: 30px;
            height: 2px;
            background-color: #020202;
            display: block;
        
            position: relative;
            transform-origin: center;
    
            transition: 1s;
        }
        button#btn-menu .linha2{
            margin: 9px 10px 8px 55px ;
            width: 20px;
            height: 2px;
            background-color: #000000;
            display: block;
        
            position: relative;
            transform-origin: center;
    
            transition: 0.7s;
        }
        button#btn-menu .linha3{
            margin-left: 55px;
            width: 16px;
            height: 2px;
            background-color: #0f0f0f;
            display: block;
        
            position: relative;
            transform-origin: center;
    
            transition: 1s;
        }
        /*buttão mobile*/

        /*section tabela das ultimas vagas*/
        section.container-tabela , section.container-tabela2 , section.container-tabela3{
            height: 150px;
            gap: 20px;
        }
        /*section tabela das ultimas vagas*/

        /*section conteudo pesquisar*/
        section.container{
            height: 820px;
        }
        section > div.container-conteudo01{
            margin-top: 100px;
        }
         /*section conteudo pesquisar*/

        /*section de enviar vagas */
        section.container-enviar-vaga{
            height: 900px;
            background-position: center center;
            background-attachment: local;
            background-attachment: fixed;
        }
        section.container-enviar-vaga > div.conteudo-enviar-vaga > h1{
            font-size: 3rem;
            width: 330px;
            margin-top: 90px;
            margin-left: 40px;
        } section.container-enviar-vaga > div.conteudo-enviar-vaga > p {
            width: 300px;
            margin: 30px 1px 30px 40px ;
        } section.container-enviar-vaga > div.btn-enviar{
            margin-left: 40px;
        }
        /*section de enviar vagas */

        /*section jobfinder*/
        section.jobfinder{
                margin-top: 50px;
                width: 360px;
        }
        /*section jobfinder*/

        /*section blog-divisão*/
        body > div.divisao-blog{
            width: 300px;
            height: 300px;
        }
        /*section blog-divisão*/

        /*section footer*/
        section.container-footer{
            gap: 30px;
        }
        section.container-footer > #footer03{
            margin-left: -20px;
        }
        /*section footer*/
}

/*midias para modelos pequenos moto G4*/
@media screen and (min-width: 321px) and (max-width: 393px){

    /*section tabela das ultimas vagas*/
    section.container-tabela3{
        height: 250px;
        padding: 10px;
    }
    /*section tabela das ultimas vagas*/

    /*section de enviar vagas */
    section.container-enviar-vaga{
        height: 990px;
    }
    section.container-enviar-vaga > div.conteudo-enviar-vaga > h1{
        width: 320px;
    }
    /*section de enviar vagas */
}

/*midias para modelos pequenos galaxy S9+*/
@media screen and (max-width: 320px){

     /*section conteudo pesquisar*/
    section.container{
        height: 950px;
    }
     /*section conteudo pesquisar*/

     /*section tabela das ultimas vagas*/
     section.container-tabela , section.container-tabela2 , section.container-tabela3{
        height: auto;
        gap: 1px;
    }
    section.container-tabela2{
        gap: 4px;
    }
    section.container-tabela > h4 {
        padding: 1px 100px;
        gap: 100px;
        margin: 10px;
    }
    section.container-tabela2 > h4 {
        padding: 1px 100px;
        gap: 100px;
        margin: 10px;
    }
    section.container-tabela3 > h4 {
        padding: 1px 50px;
        margin: 10px;
    }
    section.container-tabela4 > h4 {
        padding: 1px 100px;
        gap: 100px;
        margin: 10px;
    }
    /*section tabela das ultimas vagas*/

    /*section de enviar vagas */
    section.container-enviar-vaga{
        height: 980px;
    }
    section.container-enviar-vaga > div.conteudo-enviar-vaga > h1{
        font-size: 2.9rem;
        width: 250px;
        margin-top: 80px;
        margin-left: 40px;
    } section.container-enviar-vaga > div.conteudo-enviar-vaga > p {
        width: 240px;
        margin: 30px 1px 30px 40px ;
        font-size: 1.2rem;
    } section.container-enviar-vaga > div.btn-enviar{
        margin-left: 40px;
    }
    /*section de enviar vagas */

    /*section jobfinder*/
    section.jobfinder{
        margin-top: 50px;
        width: 200px;
    }
    section.jobfinder > div.jobfinder-container > div.jobfinder01 > h1{
        margin-top: 20px;
    }
    /*section jobfinder*/

    /*section conteudo dos candidatos as vagas*/
    section.container-candidatos > div.candidatos-container > div.conteudo-candidatos > h1{
        margin-left: -20px;
    }
    /*section conteudo dos candidatos as vagas*/

    /*section blog-artigos*/
    section.container-blog > .conteudo-blog{
        width: 270px;
    }
    section.container-blog > .conteudo-blog > p{
        width: 270px;
    }
    /*section blog-artigos*/

    /*section footer*/
    section.container-footer > .footer-jobfinder{
        width: 200px;
    }
    section.container-footer > #footer03{
        width: 180px;
    }
    /*section footer*/
}