@charset "UTF-8";

/*mini-tablet*/
@media screen and (min-width: 768px) and (max-width:1024px){
    /*caixa-container dos slides*/
    main > div.slider > div.slides > div.slide-first > div.container-item-slide{
        width: 100%;
        margin-top: 40%;
        gap: 30px;
    }

}


/*media oficial tablet*/
@media screen and (min-width: 820px) and (max-width: 1280px){

    /*buttom + navbar(ajuste-tablet)*/
    button#btn-menu , nav.nav-mobile {
        display: none;
    }

    ul.ul-navbar li{
        display: inline-block;
        position: relative;
        align-items: center;
        margin-left: 20px;
    }
     /*Fim buttom + navbar(ajuste-tablet)*/

    /*caixa-container dos slides*/


}