@charset "UTF-8";

*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

@media screen and (min-width: 1024px){
   header > div.container  div#navegacao-mobile{
    display: none;
   }

   header > div.conatiner button {
    display: none;
   }
}

/*hedaer conteudo top*/
header div.container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    background-color: rgb(255, 255, 255);
}
div.logo a > img {
    width: 70px;
    margin-left: 30px;
    cursor: pointer;
}
div.navegacao nav {
    margin-right: 20px;
}
div.navegacao nav > a {
    text-decoration: none;
    color: rgb(102, 101, 101);
    font-size: 1.3rem;
    padding: 13px;
    transition: .5s;
    margin-right: 9px;
}
div.navegacao nav > a:hover{
    color: rgb(69, 177, 245);
}

/*hedaer conteudo top*/

/*section conteudo pesquisar*/
section.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 600px;
    background-image: url(../img/pexels-fauxels-3183132.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    background-attachment: fixed;
}
section > div.container-conteudo01{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 230px;
    background-color: rgba(252, 152, 21, 0.596);
    max-width: 1300px;
    border-radius: 20px;
    padding: 20px;
}
section > div.container-conteudo01> h1{
    color: rgba(255, 255, 255, 0.966);
    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);
}
section > div.container-conteudo01> p{
    padding: 20px;
    color: rgba(255, 255, 255, 0.836);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
}
/*section conteudo pesquisar*/
/*section div pesquisar-categoria*/
section div.pesquisar-categoria{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
input.box-pesquisar{
    padding: 10px;
    border: none;
}
input#btn-pesquisar{
    padding: 5px 40px;
    font-size: 1rem;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.658);
    background-color: lightseagreen;
    border: none;
    border-radius: 10px;
    transition: 1s;
}
input#btn-pesquisar:hover{
   color: white;
   box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

/*section ultimas vagas*/

section.container-sessao02 {
    margin-top: 90px;
}
 body div.vagas > h1 {
    text-align: center;
    color: rgb(61, 61, 61);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.3rem;
    margin-top: 70px;
    margin-bottom: 60px;
}

/*section tabela das ultimas vagas*/

section.container-tabela {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    margin: 0 auto;

    border: 1px solid rgba(128, 128, 128, 0.644);
    border-radius: 10px 10px 0px 0px;
} 
section.container-tabela2 {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    margin: 0 auto;

    border: 1px solid rgba(128, 128, 128, 0.644);
} 
section.container-tabela3 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    margin: 0 auto;

    border: 1px solid rgba(128, 128, 128, 0.644);
    border-radius: 0px 0px 10px 10px;
    margin-bottom: 60px;
}
section.container-tabela4 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    margin: 0 auto;

    border: 1px solid rgba(128, 128, 128, 0.644);
}

section.container-tabela > h3 {
    color: rgba(43, 43, 43, 0.712);
}
section.container-tabela > h4 {
    padding: 1px 130px;
    background-color: blueviolet;
    color: white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
section.container-tabela2 > h3 {
    color: rgba(43, 43, 43, 0.712);
}
section.container-tabela2 > h4 {
    padding: 1px 130px;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
section.container-tabela3 > h3 {
    color: rgba(43, 43, 43, 0.712);
}
section.container-tabela3 > h4 {
    padding: 1px 100px;
    background-color: rgb(255, 91, 62);
    color: white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
section.container-tabela4 > h3 {
    color: rgba(43, 43, 43, 0.712);
}
section.container-tabela4 > h4 {
    padding: 1px 130px;
    background-color: green;
    color: white;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

/*section tabela das ultimas vagas*/

.tipo-vagas > h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1.1rem;
}
.tipo-vagas > strong > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 1rem;
    font-weight: 550;
}
/*section tabela das ultimas vagas*/

div.vagas-ver-mais {
    display: flex;
    flex-wrap: wrap;
   justify-content: center;
   margin-top: -30px;
   margin-bottom: 3rem;
}
div.vagas-ver-mais > h1 {
   padding: 9px;
   font-size: 1.4rem;
   color: rgb(15, 151, 235);
   border-radius: 5px;
   border: 2px solid rgb(15, 151, 235);
   transition: .5s;
}
div.vagas-ver-mais > h1:hover {
    cursor: pointer;
    background-color: rgb(15, 151, 235);
    color: white;
    box-shadow: 0px 0px 10px rgba(15, 151, 235, 0.486) ;
}

/*section de enviar vagas */

section.container-enviar-vaga{
    width: 100%;
    height: 750px;
    background-image: url(../img/pexels-rdne-stock-project-6517197.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

section.container-enviar-vaga > div.conteudo-enviar-vaga{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
}
section.container-enviar-vaga > div.conteudo-enviar-vaga > h1 {
    width: 700px;
    margin-top: 200px;
    margin-left: 80px;

    font-size: 3.6rem;
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.616);
}section.container-enviar-vaga > div.conteudo-enviar-vaga > p {
    width: 600px;
    margin: 30px 1px 30px 80px ;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.637);
}
section.container-enviar-vaga > div.btn-enviar{
    width: 190px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.527);
    margin: 10px 1px 20px 80px;
    border-radius: 10px;
    transition: .5s;
}
section.container-enviar-vaga > div.btn-enviar:hover{
    background-color: white;
    color: rgba(219, 117, 34, 0.685);
    box-shadow: 0px 0px 20px  rgba(236, 122, 28, 0.171);
}

section.container-enviar-vaga > div.btn-enviar > h1 {
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
}

/*section jobfinder*/

section.jobfinder{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    width: 900px;
}

section.jobfinder > h1 {
    font-size: 2.5rem;
    color: rgb(75, 74, 74);
}
section.jobfinder > p {
    margin-top: 30px;
    color: rgba(61, 61, 61, 0.795);
    font-size: 1.1rem;
}

section.jobfinder > div.jobfinder-container { 
    margin: 70px 50px 100px 50px ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
section.jobfinder > div.jobfinder-container > div.jobfinder01 > h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.651);
}
section.jobfinder > div.jobfinder-container > div.jobfinder01 > p{
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(0, 0, 0, 0.685);
}

/*section conteudo dos candidatos as vagas*/

section.container-candidatos{
    width: 100%;
    height: auto;
    background-image: linear-gradient(to right, rgba(9, 102, 223, 0.664) , rgba(9, 102, 223, 0.685)), url(../img/pexels-fauxels-3183183.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-bottom: 150px;
}
section.container-candidatos > div.candidatos-container{
    width: 80%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
}
section.container-candidatos > div.candidatos-container > div.conteudo-candidatos > h1 {
    margin: 160px 1px 40px 1px;
    text-align: center;
    color: rgba(255, 255, 255, 0.966);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
}
section.container-candidatos > div.candidatos-container > div.conteudo-candidatos > p{
    color: white;
    text-align: center;
    font-size: 1.6rem;
    width: auto;
    margin-bottom: 40px;
}

/*section comentarios de candidatos as vagas*/

section.container-candidatos > .container-comentarios{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
section.container-candidatos > .container-comentarios > .cometarios-candidatos{
   background-color: white;
   padding: 25px;
   border-radius: 20px;
   width: 290px;
}
/*section comentarios de candidatos as vagas*/

/*section blog-divisão*/
body > div.divisao-blog{
    width: 800px;
    height: 160px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
}

body > div.divisao-blog > h1 {
    font-size: 2.8rem;
    color: rgb(75, 74, 74);
}
body > div.divisao-blog > p {
    margin-top: 20px;
    color: rgba(61, 61, 61, 0.911);
    font-size: 1.3rem;
}
/*section blog-divisão*/

/*section blog-artigos*/
section.container-blog{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 4px;
    padding-bottom: 80px;
    box-shadow: 0px 5px 2px lightseagreen;
}
section.container-blog > .conteudo-blog{
    width: 330px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
section.container-blog > .conteudo-blog > img{
    object-fit: cover;
    border-radius: 5px;
 }
section.container-blog > .conteudo-blog > h1{
   font-size: 1.9rem;
   color: rgb(78, 78, 78);
}
section.container-blog > .conteudo-blog > h2{
    font-size: .8rem;
    color: rgb(48, 46, 46);
 }
 section.container-blog > .conteudo-blog > p{
    width: 300px;
    font-size: 1rem;
    color: rgb(94, 94, 94);
    text-align: justify;
 }
 section.container-blog > .conteudo-blog > button{
    margin-top:5px;
    width: 120px;
    padding: 6px 10px;
    font-size: 1rem;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 3px;
    background-color: rgb(0, 191, 255);
    color: white;
    transition: .5s;
 }
 section.container-blog > .conteudo-blog > button:hover{
    background-color: rgb(0, 89, 190);
    color: rgb(255, 255, 255);
 }
/*section blog-artigos*/

/*section footer*/
section.container-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    background-color: grey;
    padding-top: 70px;
    padding-bottom: 30px;
}
section.container-footer > .footer-jobfinder{
    width: 310px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 11px;
}
section.container-footer > .footer-jobfinder > h1 {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}
section.container-footer > .footer-jobfinder > h2 {
    color: rgb(226, 226, 226);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
}
section.container-footer > .footer-jobfinder > p {
    color: rgba(187, 187, 187, 0.979);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: .9rem;
}

section.container-footer > #footer03 {
    width: 290px;
    display: flex;
    flex-direction: column;
}
section.container-footer > #footer03 > ul > a {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bolder;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    transition: .4s;
}
section.container-footer > #footer03 > ul > a:hover {
   color: rgb(4, 81, 247);
}
section.container-footer > #footer03 > ul > a.ul-footer-instagram{
    margin-left: -4px;
    transition: .5s;
}
section.container-footer > #footer03 > ul > a.ul-footer-instagram:hover{
    color: blueviolet;
}
section.container-footer > #footer03 > ul > a.ul-footer-linkedin{
    margin-left: 1px;
}
section.container-footer > #footer03 > ul > a.ul-footer-linkedin:hover{
    color: lightskyblue;
}

/*section footer*/