@charset "UTF-8";

:root{
    --cor01: #D9C7A7;
    --cor02: #BFAC95;
    --cor03: #1b3338;
    --cor04: #8C8072;
    --cor05: #40352C;
    --cor06: #007d96;

    --fonte01:s;
    --fonte02:s;
    --fonte03:s;
}

*{
    padding: 0%;
    margin: 0%;
}

body,html{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

/*topo da paginar*/
header section#navegação{
    padding: 25px 0px 5px 0px;
    width: 100vw;
}
header section#navegação > h1{
    font-size: 1.9em;
    padding: 0px 0px 0px 10px;
    text-align: center;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header section#navegação > nav{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
header section#navegação > nav > a{
    padding: 7px 7px 5px 7px;
    font-size: .9em;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;/* aqui modificaçao*/
    color: var(--cor05);

    transition: .8s;
}

header section#navegação > nav > a:hover{
    padding: 7px 7px 5px 7px;
    color: black;
    background-color: var(--cor06);
    border-radius: 20px;
    border: solid 3px var(--cor03);
}
/*topo da paginar*/

/*perfil 01*/
main div#perfilImg{
    width: 100vw;
    height: 480px;
    background-image: url(../fotos/imagem-do-perfil.jpg);
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
main section#perfilInfomações1 > h1 {
    color: var(--cor03);
    text-align: center;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.678);
    font-size: 3.2em;
    padding: 60px 0px 0px 10px;
}
main section#perfilInfomações1 > h2{
    font-size: .9em;
    color: var(--cor02);
    text-align: center;
    text-shadow: 1px 1px 1px black;
    padding: 0px 0px 40px 0px;
}
main section#perfilInfomações1 > p{
    padding: 0px 20px 20px 25px;
    text-align: justify;
    text-indent: 20px;
    color: var(--cor01);
    text-shadow: 1px 1px 1px black;
}

main section#perfilInfomações1 > nav#redesSocial {
    display: inline-flex;
    align-items: center;
    flex-direction: row;

    padding: 60px 0px 0px 110px;
}
/*final do perfil 01*/






