@charset "UTF-8";


/*animação do menu mobile*/
#btn-menu.ativar .linha1{
    transform: translateY(15px) rotate(-54deg);
    background-color: grey;
}

#btn-menu.ativar .linha2{
    width: 0%;
}

#btn-menu.ativar .linha3{
    transform: translateY(-11px) rotate(49deg);
    background-color: grey;
}
/*Fim animação do menu mobile*/

@media screen and (max-width: 768px){
    header > nav.nav-mobile.abrir{
        display: block;
        height: 100%;
    }
}