@charset "UTF-8";


  @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300&display=swap');


:root{

    --corbranca:white;
    --corpreta: black;
    --corletrasdouradas:goldenrod;
    --cor04:    darkslategrey;
    --cor05:    #771919;

    --fontNavbar: 'Cinzel', serif;
    --fontAncorasNav: 'M PLUS 1p', sans-serif;
    --font02:s;
    --font03:s;
}

*{
    padding: 0%;
    margin: 0%;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

@media screen and (min-width:1020px) {
    button#btn-menu ,nav.nav-mobile{
        display: none;
    }
}

header {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--corbranca);
}

i.logo-navbar{
    background-color:var(--corpreta);
    padding: 0px 120px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

i.logo-navbar > a > img{
    width: 100px;
    height: auto;
    cursor: pointer;
}

/*nav-bar + estilos + dropdown*/

nav.navbar > ul.ul-navbar{
    list-style: none;
    margin-right: 30px;
}

ul.ul-navbar li{
    display: inline-block;
    position: relative;
}

ul.ul-navbar li a{
    display: block;
    padding: 5px 15px;
    color: var(--cor04);
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    font-family: var(--fontNavbar);
    font-weight: bold;
    border-radius: 19px;
    transition: 1s ease;
}

ul.ul-navbar li a:hover{
    color: var(--cor04);
    border: 1px solid var(--cor05);
    border-radius: 20px;
}

ul.ul-navbar li ul.dropdown li{
    display: block;
}
ul.ul-navbar li ul.dropdown{
    width: 220%;
    background-color: rgb(255, 253, 253);
    position: absolute;
    z-index: 999;
    display: none;
    border-radius: 10px;
    border: 2px solid rgba(134, 133, 133, 0.61);
}
ul.ul-navbar li ul.dropdown a:hover{
    background-color: #4130302a;
    border: 1px solid var(--cor05);
}

ul.ul-navbar li ul#dropdown-estilos > h1 {
    text-align: center;
    font-family: var(--fontAncorasNav);
    color: var(--corpreta);
    padding: 20px;
}
ul.ul-navbar li ul#dropdown-estilos > li > a {
    border-radius: 10px;
}

ul.ul-navbar li:hover ul.dropdown{
    display: block;
}
/*nav-bar + estilos + dropdown... final. */

/*carrosel-main*/
main > div.slider {
    margin: 0 auto;
    width: 100%;
    height: 552px;
    overflow: hidden;
}

main > div.slider > div.slides{
    width: 100%;
    height: 480px;
}

div.slides input{
    display: none;
}

div.slider > div.slides > div.slide{
    width: 100%;
    position: relative;     
}

div.slide-first > img {
    width: 100%;
    object-fit: cover;
}
div.slide > img {
    width: 100%;
    height: 680px;
    object-fit: cover;
}

/*correção das imagens bugs */
div.slides > div.slide-first > img.imagem{
    width: 100%;
    height: 600px;
}
div.slides > div.slide-first > img.img-container{
    object-fit: cover;
    filter: blur(3px);
}
div.slides > div.slide > img.img-container{
    object-fit: cover;
    object-position: center top;
}
/*Fim correção das imagens bugs */

div.manual-navegation{
    position: absolute;
    width: 100%;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

label.manual-btn{
    border: 4px solid rgb(80, 64, 64);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
    transition: 1s;
}

label.manual-btn:hover{
    background-color: goldenrod;
}

/*importante (Não mecher) manipulado usando css para as caixas*/

#radio1:checked ~ .slide-first{
    margin-left: 0%;
}

#radio2:checked ~ .slide-first{
    display: none;
}

/*Fim importante (Não mecher) manipulado usando css para as caixas*/

/*caixa-container dos slides*/
main > div.slider > div.slides > div.slide-first > div.container-item-slide{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    gap: 20px;
    margin-top: 25%;
    z-index: 3;
}

div.container-item-slide > h1{
    position: absolute;
    padding: 10px;
    transform: translateX(-2%) translateY(-100%);
    font-family: var(--fontNavbar);
    font-size: 4.5rem;
    color: #fafaf9ef;
    text-shadow: 6px 3px 0px #3b3b3bbb;
}

div.container-item-slide > a{
    background-color: rgba(0, 0, 0, 0.329);
    padding: 8px 30px;
    text-decoration: none;
    font-family: var(--fontNavbar);
    font-weight: bold;
    color: var(--corletrasdouradas);
    border: 2.5px solid rgba(255, 255, 255, 0.466);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.514);
    transition: 1s ease;
}

div.container-item-slide > a:hover{
    box-shadow: 5px 10px 1px rgba(255, 255, 255, 0.527);
}

div.container-item-slide > strong > a{
    padding: 10px 30px;
    text-decoration: none;
    background-color: rgba(236, 236, 28, 0.938);
    font-family: var(--fontNavbar);
    color: rgb(231, 228, 228);
    text-shadow: 1px 1px 3px #000000fd;
    transition: 1s ease;
}

div.container-item-slide > strong > a:hover{
    box-shadow: 5px 10px 1px #ffffff8c;
    color: rgb(235, 238, 196);
}
/*fim caixa-container dos slides*/

/*estilo dos radios + navegation-auto*/
#radio1:checked ~ div.navegation-auto div.auto-btn1{
    background-color: gold !important;
}


